@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.woff2') format('woff2'),
      url('./fonts/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  /* font-family: 'Quicksand'; */
}

body {
  margin: 0;
  font-family: 'Quicksand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: #6a05f4; */
  background-color: #6104b8;
  color: white;
}

/* @font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-Light.woff2') format('woff2'),
      url('/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
