/* @font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-Light.woff2') format('woff2'),
      url('/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background-color: #6a05f4; */
  background-color: #6104b8;
  color: white;
}

/* @font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-Light.woff2') format('woff2'),
      url('/Quicksand-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
